.footer {
  margin-top: 92px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    margin-top: 64px;
  }

  .footer__copyright {
    line-height: 1;
  }
}
