.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 254px;
  margin-bottom: 90px;
}

@media screen and (max-width: 544px) {
  .header__logo {
    width: 188px;
    margin-bottom: 50px;
  }
}
