.intro {
  max-width: 830px;
  margin-bottom: 118px;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  margin: 0 0 40px;
}

.intro__quote {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.intro__quote-text {
  margin: 0 0 10px;
}

.intro__quote-author {
  text-align: right;
}

.intro__paragraph {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
  }

  .intro__title {
    font-size: 45px;
    margin-bottom: 50px;
  }

  .intro__quote {
    margin-bottom: 32px;
  }

  .intro__quote-text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 544px) {
  .intro__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .intro__quote {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .intro__quote-text {
    margin-bottom: 10px;
  }
}
