.lead__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  max-width: 720px;
  margin: 0 0 32px;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 720px;
  margin: 0 0 64px;
}

.lead__image {
  width: 100%;
  object-fit: cover;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .lead__text {
    margin-left: 20px;
    margin-right: 20px;
  }

  .lead__title {
    max-width: 530px;
    font-size: 75px;
  }

  .lead__image {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 544px) {
  .lead__text {
    margin-left: 16px;
    margin-right: 16px;
  }

  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__image {
    margin-bottom: 64px;
  }
}
