/* Remove default margin from text tags */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.page {
  max-width: 100%;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #2a2c2f;
  color: white;
  padding: 34px 148px 24px;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 30px 24px 24px;
  }
}

@media screen and (max-width: 544px) {
  .page {
    padding: 20px 16px 24px;
  }
}
