.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: -100px;
  margin-right: -100px;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: 0;
    margin-right: 0;
  }
}
