.place {
  display: grid;
  grid-template-rows: 152px 460px auto;
  grid-template-columns: 460px auto;
  grid-template-areas:
    "title website"
    "image description"
    "button description";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
}

.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.place__url-heading {
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  margin-bottom: 8px;
}

.place__artist {
  font-size: 18px;
  line-height: 1.2;
}

.place__image-container {
  grid-area: image;
  box-shadow: 10px 10px 25px 0px #00000080;
  position: relative;
}

/* before para el overlay opaco de la imagen en hover */
.place__image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* invisible de default */
  z-index: 1;
}

.place__image-container:hover::before {
  background-color: rgba(0, 0, 0, 0.5); /* visible en hover */
}

.place__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.place__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 18px;
  line-height: 1.6;
}

.place__button {
  grid-area: button;
  max-width: 289px;
  height: 48px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px #00000040;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-rows: 68px 340px auto;
    grid-template-columns: 340px auto;
    gap: 48px 28px;
    margin-bottom: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__description {
    font-size: 16px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 544px) {
  /* Por comodidad de codigo, y teniendo una sola columna, paso de grid a flex */
  .place {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .place__title {
    font-size: 32px;
  }

  .place__description {
    font-size: 16px;
    line-height: 1.6;
  }

  .place__image-container {
    margin-left: -16px;
    margin-right: -16px;
  }

  .place__button {
    font-size: 14px;
  }
}
